@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Shopstr.Models.Shopstr
@using BTCPayServer.Plugins.Shopstr.Views

@model ShopstrViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Shopstr plugin");
    bool bNostr;
    bool bApp;
}

<table>
    <tr>
        <td>
            <a href="https://shopstr.market/">
                <img src="/Resources/img/Shopstr.webp" />
            </a>
        </td>
        <td width="20" />
        <td>
            <p>
                Shopstr plugin<br />
                Please read our documentation <a href="https://github.com/Nisaba/btcpayserver-plugins/blob/master/BTCPayServer.Plugins.Shopstr/README.md" target="_blank">here</a>.
            </p>
        </td>
    </tr>
</table>
<br />

<!-- <partial name="_StatusMessage" /> -->

@if (Model.Nip5Settings == null || !Model.Nip5Settings.IsConfigured)
{
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <span class="me-2"><i class="fa fa-exclamation-triangle"></i></span>
        Your Nostr plugin is not configured yet.
        <a href="/stores/@Model.storeId/plugins/nip5" class="alert-link ms-2">Configure now</a>
    </div>
    bNostr = false;
}
else
{
    <div class="card mb-3">
        <div class="card-header">
            <strong>Nostr Configuration</strong>
        </div>
        <div class="card-body">
            <div class="mb-2">
                <span class="badge bg-success me-2">Pubkey</span>
                <span class="badge badge-expired">@Model.Nip5Settings.PubKey</span>
            </div>
            <div>
                <span class="badge bg-info me-2">Relays</span>
                <span>
                    @foreach (var rel in Model.Nip5Settings.Relays)
                    {
                        <span class="badge badge-expired">
                            @rel
                        </span>
                    }
                </span>
            </div>
        </div>
    </div>
    bNostr = true;
}
@if (Model.StoreApps.Count == 0)
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <span class="me-2"><i class="fa fa-info-circle"></i></span>
        You do not have any Shop apps in your BTCPay store yet.
        <a href="/stores/@Model.storeId/apps/create/PointOfSale" class="alert-link ms-2">Create an app</a>
    </div>
    bApp = false;
}
else
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <span class="me-2"><i class="fa fa-check-circle"></i></span>
        @Model.StoreApps.Count Shop app(s) ready to be synchronized in this store.
    </div>
    bApp = true;
}
@if (bNostr && bApp)
{
    <br />
    <p>You are all set! You can now start selling your products on Shopstr.
        <!-- Go to <a href="https://shopstr.market/" target="_blank">Shopstr Market</a> and connect your BTCPay store using your Nostr pubkey. --> </p>

<!--    <form asp-action="SaveSettings" method="post" class="mb-3">
        at Html.AntiForgeryToken()
        <table class="table table-sm mt-0 mx-0" width="100%">
            <tr>
                <td width="150">
                    <label for="ShopStrShop" class="form-label">Your Shopstr shop Id</label>
                </td>
                <td width="300" class="border-0 ps-0 align-middle">
                    <input type="text"
                           class="form-control"
                           id="ShopStrShop"
                           name="ShopStrShop"
                           value=""
                           required
                           placeholder="Find this value in your Shopstr shop profile" />
                </td>
                <td align="center">
                    <button id="SaveButton" type="submit" class="btn btn-primary" value="Save" name="Command">Save</button>
                </td>
            </tr>
        </table>
        </form> -->


    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>App Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.StoreApps)
            {
                <tr>
                    <td>@app.Name</td>
                    <td>
                        <button id="BtPublish@{@app.Id}" class="btn btn-secondary" onclick="DoPublish('@app.Id')">Publish on Nostr</button>
                        <img id="WaitPublish@{@app.Id}" src="/Resources/img/waiting.webp" style="display:none" />
                    </td>
                    <td>
                        <button id="BtUnpublish@{@app.Id}" class="btn btn-secondary" onclick="DoUnpublish('@app.Id')">Unpublish</button>
                        <img id="WaitUnpublish@{@app.Id}" src="/Resources/img/waiting.webp" style="display:none" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.AntiForgeryToken()

    <script type="text/javascript" >
        var antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

    function DoPublish(appId) {
        if (confirm("Are you sure you want to publish ? This will add and/or update your BTCPay products to Shopstr marketplace... ") == false) {
            return;
        }
        $('#BtPublish' + appId).hide();
        $('#WaitPublish' + appId).show();
        $.ajax({
            url: 'Shopstr/PublishToShopstr',
            type: 'POST',
            data: { appId: appId },
            headers: {
                'RequestVerificationToken': antiForgeryToken
            },
            success: function(result) {
                alert("Publish to Shopstr OK");
                $('#WaitPublish' + appId).hide();
                $('#BtPublish' + appId).show();
            },
            error: function (xhr, status, error) {
                alert("Error: " + error + " - " + xhr.responseText);
                $('#WaitPublish' + appId).hide();
                $('#BtPublish' + appId).show();
            }
        });
    }

        function DoUnpublish(appId) {
            if (confirm("Are you sure you want to unpublish ? This will remove your BTCPay products from Shopstr marketplace... ") == false) {
                return;
            }
            $('#BtUnpublish' + appId).hide();
            $('#WaitUnpublish' + appId).show();
            $.ajax({
                url: 'Shopstr/UnPublishFromShopstr',
                type: 'POST',
                data: { appId: appId },
                headers: {
                    'RequestVerificationToken': antiForgeryToken
                },
                success: function(result) {
                    alert("Unpublish from Shopstr OK");
                    $('#WaitUnpublish' + appId).hide();
                    $('#BtUnpublish' + appId).show();
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error + " - " + xhr.responseText);
                    $('#WaitUnpublish' + appId).hide();
                    $('#BtUnpublish' + appId).show();
                }
            });
        }
</script>
}