@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.B2PCentral.Views
@using BTCPayServer.Client
@using BTCPayServer.Plugins.B2PCentral.Models
@using BTCPayServer.Services

@inject BTCPayServer.Plugins.B2PCentral.Services.B2PCentralPluginService B2PCentralPluginService
@inject DisplayFormatter DisplayFormatter

@model BTCPayServer.Plugins.B2PCentral.Data.B2PSettings
@{
    ViewData.SetActivePage(PluginNavPages.Index, "B2P Central plugin");
}

<script type="text/javascript">
    var tblOfrs = [];
    var tblOfrsOnChain = [];
    var tblOfrsLightning = [];


    function GetPartial(reqData, container, bt) {
        var antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
        $(container).html('<div style="display: flex; justify-content: center;"><img src="/Resources/img/Loading_icon.gif"/></div>');
        $(bt).hide();
        $.ajax({
            url: 'b2pcentral/GetPartialB2PResult',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            headers: {
                'RequestVerificationToken': antiForgeryToken
            },
            data: JSON.stringify(reqData),
            success: function(result) {
                tblOfrs = [];
                $(container).html(result);
                $("[id^='sortLink']").each(function () {
                    var $this = $(this);
                    if (!$._data(this, "events") || !$._data(this, "events").click) {
                        $this.on("click", function (event) {
                            event.preventDefault();
                            var param1 = $(this).data('param1');
                            if (tblOfrs.length == 0) {
                                var param2Str = $(this).attr('data-param2');
                                tblOfrs = JSON.parse(param2Str);
                            }
                            SortHtmlTable(param1);
                        });
                    }
                });
                $(bt).show();
            },
            error: function (xhr, status, error) {
                $(container).html("Error: " + error + "<br/>" + xhr.responseText);
                $(bt).show();
            }
        });
    }

    function SortHtmlTable(currentID) {
        var table, rows, switching, i, xTbl1, xTbl2, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("offers" + currentID);
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 2); i += 2) {
                shouldSwitch = false;
                xTbl1 = (i - 1) / 2;
                xTbl2 = xTbl1 + 1;
                if (dir == "asc") {
                    if (tblOfrs[xTbl1] > tblOfrs[xTbl2]) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (tblOfrs[xTbl1] < tblOfrs[xTbl2]) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 2], rows[i]);
                rows[i].parentNode.insertBefore(rows[i + 3], rows[i + 1]);
                var v = tblOfrs[xTbl1];
                tblOfrs[xTbl1] = tblOfrs[xTbl2];
                tblOfrs[xTbl2] = v;
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function SwitchTab(switchValue) {
        switch(switchValue) {
            case 1:
                $("#SectionNav-1").addClass("active").siblings().removeClass("active");
                $("#tabOnChain").show();
                $("#tabLightning").hide();
                $("#tabSwaps").hide();
                tblOfrsLightning = tblOfrs;
                tblOfrs = tblOfrsOnChain;
                break;
            case 2:
                $("#SectionNav-2").addClass("active").siblings().removeClass("active");
                $("#tabOnChain").hide();
                $("#tabLightning").show();
                $("#tabSwaps").hide();
                tblOfrsOnChain = tblOfrs;
                tblOfrs = tblOfrsLightning;
                break;
            case 3:
                $("#SectionNav-3").addClass("active").siblings().removeClass("active");
                $("#tabOnChain").hide();
                $("#tabLightning").hide();
                $("#tabSwaps").show();
                break;
        }
    }

</script>

<table><tr>
        <td>
            <a href="https://www.b2p-central.com" target="b2p">
                <img src="/Resources/img/B2Plogo.jpg" />
            </a>
        </td>
        <td width="20" />
        <td>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                Get P2P bitcoin buy offers from <a href="https://www.b2p-central.com" target="b2p">B2P Central</a>, according to your onchain and lightning wallets balances and the store's default currency.
             </p>
        </td>
</tr></table>
<br />

<partial name="_StatusMessage" />

<div permission="@Policies.CanModifyStoreSettings">
    <br />
    <h4>Configuration</h4>
    <p>
       First, you need to get a B2P Central API key <a href="https://getapi.b2p-central.com" target="b2pApi">here</a>.
    </p>
    <form method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <input asp-for="ProvidersString" type="hidden"/>
        <table class="table table-sm mt-0 mx-0">
            <tr>
                <td width="100">
                    <label asp-for="ApiKey" class="form-label"></label>
                </td>
                <td width="400" d class="border-0 ps-0 align-middle">
                    <input asp-for="ApiKey" data-fill="port" class="form-control" />
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </td>
                <td width="20" />
                <td>
                    <button id="SaveButton" type="submit" class="btn btn-primary" value="Save" name="Command">Save</button>
                </td>
                @if (!string.IsNullOrEmpty(Model.ApiKey))
                {
                    <td>
                        <button class="btn btn-secondary mt-2" value="Test" name="Command">Test</button>
                    </td>
                }
            </tr>
        </table>
    </form>
</div>

<div permission="@Policies.CanViewStoreSettings">
    <br />
    @if (string.IsNullOrEmpty(Model.ApiKey))
    {
        <p>
            <i>B2P settings not set for this store...</i>
        </p>
    } else
    {
        var walletConfig = await B2PCentralPluginService.GetBalances(Model.StoreId, $"{Context.Request.Scheme}://{Context.Request.Host}");

        <nav id="SectionNav">
            <div class="nav">
                <a id="SectionNav-1" class="nav-link active" href="#SectionNav" onclick="SwitchTab(1)"><vc:icon symbol="wallet-wallet" /> Sell (On Chain)</a>
                <a id="SectionNav-2" class="nav-link" href="#SectionNav" onclick="SwitchTab(2)"><vc:icon symbol="lightning" /> Sell (Lightning)</a>
                <a id="SectionNav-3" class="nav-link" href="#SectionNav" onclick="SwitchTab(3)"><vc:icon symbol="actions-refresh" /> Swaps (On Chain)</a>
            </div>
        </nav>

        <div id="tabOnChain">
            <h4>Sell (On Chain)</h4>
            @if (walletConfig.OnChainEnabled)
            {
                <p><b>Balance</b>: @walletConfig.OnChainBalance BTC  ~ @DisplayFormatter.Currency(walletConfig.OnChainFiatBalance, walletConfig.FiatCurrency)</p>
            }
            else
            {
                <p>On Chain wallet not configured</p>
            }

            @if (walletConfig.OnChainBalance == 0) {
                <p>No bitcoins available for sale</p>
            } else {

                <script type="text/javascript">
                    const onChainFiatBalance = @walletConfig.OnChainFiatBalance.ToString(System.Globalization.CultureInfo.InvariantCulture);
                    document.addEventListener('DOMContentLoaded', () => {
                        document.getElementById('percentOnChain').addEventListener('input', updateOnChainSale);
                    });

                    function updateOnChainSale() {
                        const percent = parseFloat(document.getElementById('percentOnChain').value) || 0;
                        const amount = parseInt((percent * onChainFiatBalance) / 100);
                        document.getElementById('lblOnChainSale').textContent = amount;
                    }

                    function OnChainSearchClick() {
                        var tbl = [];
                        if (document.querySelector('#chkHodl').checked) tbl.push(@((short)ProvidersEnum.HodlHodl));
                        if (document.querySelector('#chkNoo').checked) tbl.push(@((short)ProvidersEnum.NoOnes));
                        if (document.querySelector('#chkLocalSw').checked) tbl.push(@((short)ProvidersEnum.LocalCoinSwap));
                        if (document.querySelector('#chkPeach').checked) tbl.push(@((short)ProvidersEnum.Peach));
                        if (document.querySelector('#chkBisqV1').checked) tbl.push(@((short)ProvidersEnum.BisqV1));
                        if (tbl.length == 0) return;

                        const data = {
                            Rate: @walletConfig.Rate, ApiKey: '@Model.ApiKey', CurrencyCode: '@walletConfig.FiatCurrency',
                            Amount: document.getElementById('lblOnChainSale').textContent, Providers: tbl
                        };
                        GetPartial(data, "#container-B2pOnChain", "#btOnChainSearch");
                    }
                </script>

                <b>Select providers:</b><br/>
                <table><tr>
                <td>
                    HodlHodl &nbsp;
                    <input id="chkHodl" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.HodlHodl)" />
                </td><td width="15" />
                <td>
                    NoOnes &nbsp;
                    <input id="chkNoo" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.NoOnes)" />
                </td><td width="15" />
                <td>
                    LocalCoinSwap &nbsp;
                    <input id="chkLocalSw" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.LocalCoinSwap)" />
                </td><td width="15" />
                <td>
                    Peach &nbsp;
                    <input id="chkPeach" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.Peach)" />
                </td><td width="15" />
                <td>
                    Bisq v1 &nbsp;
                    <input id="chkBisqV1" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.BisqV1)" />
                </td>
                </tr>
                </table>
                <br />
                <table><tr>
                    <td>
                        Percent to sale:&nbsp;
                        <input id="percentOnChain" type="number" max="100" value="100" onchange="updateOnChainSale()" />
                    </td><td width="25"></td>                        
                    <td>
                        <label id="lblOnChainSale">@((int)walletConfig.OnChainFiatBalance)</label>&nbsp; @walletConfig.FiatCurrency
                    </td><td width="25"></td> 
                    <td><button id="btOnChainSearch" class="btn btn-primary" onclick="OnChainSearchClick()">Search</button></td>
                    </tr>
                </table>

                <br />
                <div id="container-B2pOnChain"></div>
            }
        </div>

        <div id="tabLightning" style="display:none">
            <h4>Sell (Lightning)</h4>
            @if (walletConfig.OffChainEnabled)
            {
                <p><b>Balance</b>: @walletConfig.OffChainBalance BTC  ~ @DisplayFormatter.Currency(walletConfig.OffChainFiatBalance, walletConfig.FiatCurrency)</p>
            }
            else
            {
                <p>Lightning not configured</p>
            }

            @if (walletConfig.OffChainBalance == 0)
            {
                <p>No bitcoins available for sale</p>
            }
            else
            {
                <b>Select providers:</b><br />
                <script type="text/javascript">
                    const offChainFiatBalance = @walletConfig.OffChainFiatBalance.ToString(System.Globalization.CultureInfo.InvariantCulture);
                    document.addEventListener('DOMContentLoaded', () => {
                        document.getElementById('percentLightning').addEventListener('input', updateLightningSale);
                    });

                    function updateLightningSale() {
                        const percent = parseFloat(document.getElementById('percentLightning').value) || 0;
                        const amount = parseInt((percent * offChainFiatBalance) / 100);
                        document.getElementById('lblLightningToSale').textContent = amount;
                    }

                    function LightningSearchClick() {
                        var tbl = [];
                        if (document.querySelector('#chkLNp2p').checked) tbl.push(@((short)ProvidersEnum.LNp2pBot));
                        if (document.querySelector('#chkRbs').checked) tbl.push(@((short)ProvidersEnum.RoboSats));
                        if (document.querySelector('#chkMst').checked) tbl.push(@((short)ProvidersEnum.Mostro));
                        if (tbl.length == 0) return;

                        const data = {
                            Rate: @walletConfig.Rate, ApiKey: '@Model.ApiKey', CurrencyCode: '@walletConfig.FiatCurrency',
                            Amount: document.getElementById('lblLightningToSale').textContent, Providers: tbl
                        };
                        GetPartial(data, "#container-B2pLightning", "#btLightningSearch");
                    }
                </script>

                <table>
                    <tr>
                        <td>
                            LNp2pBot &nbsp;
                            <input id="chkLNp2p" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.LNp2pBot)" />
                        </td>
                        <td width="15" />
                        <td>
                            RoboSats &nbsp;
                            <input id="chkRbs" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.RoboSats)" />
                        </td>
                        <td width="15" />
                        <td>
                            Mostro &nbsp;
                            <input id="chkMst" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.Mostro)" />
                        </td>
                    </tr>
                </table>
                <br />
                <table>
                    <tr>
                        <td>
                            Percent to sale:&nbsp;
                            <input id="percentLightning" type="number" max="100" value="100"/>
                        </td>
                        <td width="25" />
                        <td>
                            <label id="lblLightningToSale">@((int)walletConfig.OffChainFiatBalance)</label>&nbsp;@walletConfig.FiatCurrency
                        </td>
                        <td width="25" />
                        <td><button id="btLightningSearch" class="btn btn-primary" onclick="LightningSearchClick()">Search</button></td>
                    </tr>
                </table>

                <br />
                <div id="container-B2pLightning"></div>
            }
        </div>

        <div id="tabSwaps" style="display:none">
            <h4>Swaps (On Chain)</h4>
            @if (walletConfig.OnChainEnabled)
            {
                <p><b>Balance</b>: @walletConfig.OnChainBalance BTC  ~ @DisplayFormatter.Currency(walletConfig.OnChainFiatBalance, walletConfig.FiatCurrency)</p>
            }
            else
            {
                <p>On Chain wallet not configured</p>
            }

            @if (walletConfig.OnChainBalance == 0)
            {
                <p>No bitcoins available for swap</p>
            }
            else
            {
                <table>
                    <tr>
                        <td>
                            <input value="ToSend" name="rdFromTo" type="radio" checked="checked" class="form-check-input mt-0 me-2" onchange="setSwapCurrency()" />&nbsp; To Send
                            <br />
                            <input value="ToReceive" name="rdFromTo" type="radio" class="form-check-input mt-0 me-2" onchange="setSwapCurrency()" />&nbsp; To Receive
                        </td>
                        <td width="25" />
                        <td>
                            Amount:&nbsp;
                            <input id="swapAmount" type="number" min="0" value="@(walletConfig.OnChainBalance * (decimal)0.95)" step="0.0001" />
                            <br />
                        </td>
                        <td width="15" />
                        <td>
                            <label id="lblCurrency">BTC</label>
                        </td>
                    </tr>
                </table>

                <script type="text/javascript">
                    window.setSwapCurrency = function () {
                        $('#lblCurrency').text(getSwapCurrency());
                    }

                    function getSwapCurrency() {
                        const isToSend =  $("input[name='rdFromTo']:checked").val() === "ToSend";
                        return isToSend ? "BTC" : $('#lstSwapToCrypto').val();
                    }

                    function onSwap() {
                        if (!testAmount()) {
                            alert('Please enter a correct amount');
                            return;
                        }

                        const sToAddress = $('#txtToAddress').val();
                        if (sToAddress == '') {
                            alert('Please enter your altcoin destination address for the swap');
                            return;
                        }

                        let sConfirm;
                        let btcAmount = 0;
                        let altAmount = 0;
                        const sCurr = getSwapCurrency();
                        if (sCurr == 'BTC') {
                            btcAmount = $('#swapAmount').val();
                            sConfirm = `Are you sure you want to swap ${btcAmount} BTC to ${$('#lstSwapToCrypto').val()} ?`;
                        } else {
                            altAmount = $('#swapAmount').val();
                            sConfirm = `Are you sure you want to swap BTC to ${altAmount} ${$('#lstSwapToCrypto').val()} ?`;
                        }
                        if (confirm(sConfirm)) {
                            $('#btSend').hide();

                            // TODO
                        }
                    }
                </script>

            }
        </div>
    }

</div>