@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.TelegramBot.Models
@using BTCPayServer.Plugins.TelegramBot.Views

@model TelegramBotViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Telegram Shopping Bot plugin");
    bool bApp;
}

<table>
    <tr>
        <td>
            <img src="/Resources/img/TelegramShop.webp" />
        </td>
        <td width="20" />
        <td>
            <p>
                Telegram Shopping Bot plugin<br />
                Please read our documentation <a href="https://github.com/Nisaba/btcpayserver-plugins/blob/master/BTCPayServer.Plugins.TelegramBot/README.md" target="_blank">here</a>.
            </p>
        </td>
    </tr>
</table>
<br />

<!-- <partial name="_StatusMessage" /> -->

@if (Model.StoreApps.Count == 0)
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <span class="me-2"><vc:icon symbol="warning"/></span>
        You do not have any Shop apps in your BTCPay store yet.
        <a href="/stores/@Model.storeId/apps/create/PointOfSale" class="alert-link ms-2">Create an app</a>
    </div>
    bApp = false;
}
else
{
    <div class="alert d-flex align-items-center" role="alert">
        <span class="me-2"><vc:icon symbol="warning" /></span>
        @Model.StoreApps.Count Shop app(s) ready to be launched in Telegram!
    </div>
    bApp = true;
}
@if (bApp)
{
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>App Name</th>
                <th>Items</th>
                <th>Bot Token</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.StoreApps)
            {
                <tr>
                    <td><div class="badge badge-settled">@app.Name</div></td>
                    <td><div class="badge badge-expired">@app.ShopItems.Count</div></td>
                    <td width="150"><input id="txtBotToken@{@app.Id}" type="text" value="@app.BotToken" placeholder="123456789:ABCDefGhIJKlmnOpQrStUVwxYz1234567890" /></td>
                    <td align="center">
                        <input type="checkbox" class="btcpay-toggle me-3" id="chkBotEnabled@{@app.Id}" checked="@app.IsEnabled" />
                    </td>
                    <td><button id="btSave@{@app.Id}" class="btn btn-secondary" onclick="BtSaveApp('@app.Id')">Save</button></td>
                </tr>
            }
        </tbody>
    </table>

    @Html.AntiForgeryToken()

    <script type="text/javascript" >
    var antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
    
    function BtSaveApp(appId) {
        var botToken = $('#txtBotToken' + appId).val();
        var isEnabled = $('#chkBotEnabled' + appId).is(':checked');
        if (isEnabled && (botToken === null || botToken.trim() === '')) {
            alert("Please enter a valid Bot Token.");
            return;
        }
        $('#BtSave' + appId).hide();
        $.ajax({
            url: 'TelegramBot/SaveSettings',
            type: 'POST',
            data: { appId: appId, botToken: botToken, isEnabled: isEnabled },
            headers: {
                'RequestVerificationToken': antiForgeryToken
            },
            success: function(result) {
                alert("App settings saved");
                $('#BtSave' + appId).show();
            },
            error: function (xhr, status, error) {
                alert("Error: " + error + " - " + xhr.responseText);
                $('#BtSave' + appId).show();
            }
        });
    }
    </script>
    <br /><br />
}

<h4>Invoices</h4>
@if (Model.Invoices.Count == 0)
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <span class="me-2"><vc:icon symbol="info-circle" /></span>
        No invoices created via Telegram Bot yet.
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Point of Sale</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td class="text-break align-middle invoiceId-col">
                        <a asp-controller="UIInvoice" asp-action="Invoice" asp-route-invoiceId="@invoice.BTCPayInvoiceId" class="text-break">@invoice.BTCPayInvoiceId</a>
                    </td>
                    <td><div class="badge badge-settled">@invoice.AppName</div></td>
                    <td><div class="badge badge-expired">@invoice.Amount @invoice.Currency</div></td>
                    <td>@invoice.DateT.ToString("g")</td>
               </tr>
            }
        </tbody>
    </table>
}